<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330510953363-au8tg1oiheusq0k1bfvtas5m3j7i2qme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330510953363-au8tg1oiheusq0k1bfvtas5m3j7i2qme</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ofeZxIuW0nboATXxeUgiKtMBKNOyl5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>330510953363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glamcode.app</string>
	<key>PROJECT_ID</key>
	<string>glamcode---ga4-a24f8</string>
	<key>STORAGE_BUCKET</key>
	<string>glamcode---ga4-a24f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330510953363:ios:59b2f6361ab776a0511666</string>
</dict>
</plist>