<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32518278088-bdu4mu7g449d9q95c9erm8keo6srqm77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32518278088-bdu4mu7g449d9q95c9erm8keo6srqm77</string>
	<key>API_KEY</key>
	<string>AIzaSyD9hZsKyj6zbXdOJN0ZEOKfj3dXNPyvfDU</string>
	<key>GCM_SENDER_ID</key>
	<string>32518278088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glamcode.salon</string>
	<key>PROJECT_ID</key>
	<string>glamcodeflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>glamcodeflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32518278088:ios:7ae252f1f363e1ec308efd</string>
</dict>
</plist>